main, section, article, aside, footer, header, nav, hgroup {
    display: block;
}

.theme-picture img {
    width: 100%;
    position: relative;
    top: 4px;
}

.head-nav {
    list-style: none;
    background-color: gray;
    padding: 0.5rem;
    text-align: center;
}

body {
    background-color: rgb(150,239,255);
}
nav h1 {
    font-size: 1rem;
    }

nav ul {
    list-style: none;
    font-size: 0.5rem;
    /*padding: .5rem;*/
    /*float: left;*/
}

nav ul li {
    text-decoration: none;
    /*padding-left: 5rem;*/
}

figure img {
    width: 50%;
}

a {
    text-decoration: none;
}

.aside-section {
    background-color: rgb(255,216,237);
    padding: 0.5rem;
}

.wrapper {
    background-color: rgb(69,119,127);
    clear: both;
}

.resource {
    font-size: 1.5rem;
}


/* for iPad mini and iPad */
@media screen and (min-width: 760px) and (max-width: 900px) {
  nav h1 {
    font-size: 2rem;
    float: left;
    
    }
  nav ul li {
      padding-left: .3rem;
      float: left;
  }

  .head-nav {
      padding-bottom: 1rem;
      /*float: left;*/
  }

  .clearfix {
      float: left;
  }

  .wrapper1 {
      width: 75%;
      float: left;
      clear: both;
  }

  .wrapper2 {
      width: 25%;
  }

  footer {
      clear: both;
  }

  nav ul {
    list-style: none;
    font-size: 1.5rem;
    padding: .5rem;
  }

}

@media screen and (min-width: 900px) {
  nav h1 {
    font-size: 2rem;
    float: left;
    }

  nav ul {
    list-style: none;
    font-size: 1.5rem;
    padding: .5rem;
  }

  nav ul li {
      padding-left: 2rem;
      float: left;
  }

  .head-nav {
      padding-bottom: 1rem;
  }

  .clearfix {
      float: left;
      /*width: 80%;*/
  }

  .wrapper1 {
      width: 80%;
  }

  .wrapper2 {
      width: 20%;
  }

  footer {
      clear: both;
  }

  aside {
      padding-bottom: 500px;
  }
}